%table{:class => 'table table-bordered table-striped'}
  %thead
    %tr
      %th
        Name
  %tbody
    -@keychains.each do |keychain|
      %tr
        %td
          = link_to keychain.name, keychain_path(keychain)


